

@import url(menu.css);
@import url(primeira-sessao.css);
@import url(segunda-sessao.css);
@import url(banner.css);
@import url(footer.css);

:root {
    /*cores*/
    --azul-escuro: hsl(243, 87%, 12%);
    --azul-desaturado: hsl(238, 22%,44%);
    --azul: hsl(224, 93%, 58%);
    --verde-claro: hsl(170, 45%, 43%);
    --cinza-claro: hsl(0, 0%, 75%);
    --cinza: #f8f8fe;
    --branco: #ffff;
    --cor-erro: rgba(255, 38, 0, 0.852);

    --sombra: 1px 1px 5px 3px rgba(0, 0, 0, 0.1);


    /*tipologia*/
    --fonte-titulo:'Raleway';
    --fonte-body:'Open Sans';
}

body {
    font-family: var(--fonte-body);
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

ol, ul {
	list-style: none;
}