.banner {
    display: flex;
    background: var(--azul-desaturado);
    padding: 6em 3em;
    align-items: center;
    justify-content: space-between;
}

.banner__conteudo {
    width: 40%;
}

.banner__titulo {
    font-family: var(--fonte-titulo);
    color: var(--cinza);
    font-size: 1.8em;
}

.banner__texto {
    color: var(--cinza);
    font-size: .9em;
    line-height: 1.5em;
    margin-top: 2em;
}

.banner__inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
}

.input-banner {
    padding: .8em;
    border: 1px solid var(--cinza-claro);
    box-shadow: var(--sombra);
    border-radius: 2px;
}

.botao-banner {
    width: 40%;
    margin-top: 1.5em;
}

#mensagem-erro-banner {
    font-size: 0.7em;
    padding-top: .3em;
    position: absolute;
}

/* smartphone */

@media screen and (max-width: 640px) {
    .banner {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content:space-between;
        padding: 4em 1.5em;
    }
    .banner__conteudo {
        width: 90%;
        text-align: center;
    }
    .banner__titulo {
        font-size: 1.3em;
    }
    .banner__inputs {
        margin-top: 2em;
        width: 90%;
    }
    .botao-banner {
        width: 100%;
        margin-top: 1.5em;
    }
}

/* tablet */

@media screen and (max-width: 1024px) {
    .botao-banner {
        width: 100%;
    }
}