.rodape {
    background: var(--azul-escuro);
    padding: 5em 3em 2em 3em;
}

.rodape__logo {
    filter: brightness(0) invert(1);
    height: 50px;
}

.rodape__info {
    display: flex;
    margin-top: 1.5em;
    justify-content: space-between;
}

.rodape__lista {
    margin-right: 12em;
}

.institucional__contato-telefone, .institucional__contato-email {
    color: var(--cinza);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;
    font-style: normal;  
}

.institucional__contato-telefone::before {
    content: url(../img/icon-phone.svg);
    margin-right: 1em;
}

.institucional__contato-email::before {
    content: url(../img/icon-email.svg);
    margin-right: 1em;
}

.lista__link {
    display: block;
    margin-bottom: 1em;
    text-decoration: none;
    color: var(--cinza);
}

.rodape__lista-social {
    display: flex;
    flex-direction: row;
}

.lista-social__icone {
    width: 40px;
    filter: invert(1);
    margin: 0 1em;
}

.lista-social__icone:hover {
    filter: none;
}

.institucional__contato-telefone:hover, .institucional__contato-email:hover, .lista__link:hover{
    color: var(--azul-desaturado);
}

/* smartphone */

@media screen and (max-width: 390px) {
    .rodape {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 3em;
    }
    .rodape__logo {
        height: 30px;
    }
    .rodape__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .rodape__lista {
        margin-right: 0;
        margin-bottom: 2em;
    }
    .rodape__lista-social {
        align-items: center;
        display: flex;
        justify-content: space-around;
    }
   
    .lista-none {
        display: none;
    }
}

