.cabecalho {
    display: flex;
    justify-content: space-between;
    margin: 3em;
}

.logo {
    width: 100px;
}

.menu__lista {
    display: flex;
}

.menu__item {
    margin-left: 2.5em;
}

.menu__link{
    text-decoration: none;
    color: var(--azul-desaturado);
}

.menu__link:hover {
    color: var(--azul-escuro);
}

/* smartphone */

@media screen and (max-width: 640px) {
    .cabecalho {
        margin: 1.5em;
    }
    .logo {
        width: 70px;
    }
    .menu__link {
        font-size: .7em;
    }
}

/* tablet */

@media screen and (max-width: 1024px) {

}
