.cabecalho {
    display: flex;
    justify-content:space-between;
    margin: 3em;

}

.logo {
    width: 100px;
}

.menu__lista {
    display: flex;
}

.menu__item {
    margin-left: 2.5em;
}

.menu__checkbox, .cabecalho__menu-hamburguer {
    display: none;
}

.menu__link {
    text-decoration: none;
    color: var(--azul-desaturado);
}

.menu__link:hover {
    color: var(--azul-escuro);
}

/* smartphone */

@media screen and (max-width: 640px) {
    .cabecalho {
        margin: 1.5em;
        position: relative;
    }
    .logo {
        width: 90px;
    }
    .menu__link {
        font-size: .7em;
        color: var(--cinza);
    }
    /* menu hamburguer */
    .cabecalho__menu-hamburguer {
        width: 24px;
        height: 24px;
        background-image: url("../img/Menu.svg");
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
    }
    .menu__lista {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 100%;
        right: 0;
        width: 60vw;
        z-index: 1000;
    }
    .menu__checkbox:checked ~ .menu__lista {
        display: block;
    }
    .menu__item {
        padding: 1.2em;
        background-color: var(--azul-escuro);
        border-bottom: 1px solid var(--cinza);
        font-size: 1.2em;
    }
   
}

/* tablet */

@media screen and (max-width: 1024px) {

}
