.container {
    margin: 4em 3em;
}

.container__duas-colunas {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container__conteudo {
    margin-right: 6em;
    width: 40vw;
}

.container__titulo {
    font-family: var(--fonte-titulo);
    line-height: 1.5em;
    color: var(--azul-escuro);
    font-size: 2.1em;
}

.container__texto {
    color: var(--azul-escuro);
    margin: 1.8em 0 1.5em 0;
    font-size: .9em;
}

.container__imagem {
    width: 40vw;
    right: 0;
}

.container__input {
    display: flex;
    align-items: center;
}

.input-email {
    padding: .8em;
    width: 70%;
    border: 1px solid var(--cinza-claro);
    border-radius: 2px;
    margin-right: 1em;
}

.input-email::placeholder {
    color: var(--cinza-claro);
    font-family: var(--fonte-body);
}

/*---- msgs erro ----- */
 
#mensagem-erro {
    font-size: 0.7em;
    padding-top: .3em;
    position: absolute;
}

.invisivel {
    display: none;
}

.visivel-erro {
    color: var(--cor-erro);
    display: flex;
}

.input-mensagem-erro {
    border: 1px solid var(--cor-erro);
}

.visivel-sucesso {
    color: var(--verde-claro);
    display: flex;
}
/*--------------------- */

.botao {
    background-color: var(--azul);
    padding: .8em;
    width: 20%;
    text-decoration: none;
    color: var(--cinza);
    border-radius: 2px;
    font-size: .8em;
    text-align: center;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: var(--sombra);
}

.botao:hover {
    background-color: var(--azul-escuro);
    color: var(--cinza);
}

/* smartphone */

@media screen and (max-width: 640px) {
    .container {
        margin: 3rem 1.5rem;
    }
    .container__duas-colunas {
        flex-direction: column;
        align-content: center;
    }
    .container__conteudo {
        margin-right: 0;
        width: 100%;
        text-align: center;
        position: relative;
        top:200px;
    }
    .container__titulo {
        line-height: 1.5em;
        font-size: 1.5em;
    }
    .container__input {
        flex-direction: column;
        justify-content: center;
    }
    .input-email {
        width: 90%;
        margin-right: 0;
        margin-bottom: 1em;
    }
    .botao {
        width: 97%;
    }
    .container__imagem {
        position: absolute;
        width: 60%;
        display: block;
        right: 20%;
    }
    #mensagem-erro {
        margin-left: .5em;
    }
}

/* tablet */

@media screen and (max-width: 1024px) {
    .container__input {
        flex-direction: column;
        justify-content: center;
    }
    .input-email {
        width: 90%;
        margin-right: 0;
        margin-bottom: 1em;
    }
    .botao {
        width: 95%;
    }
    #mensagem-erro {
        margin-left: .8em;
    }
}