.segunda-sessao {
    display: flex;
    background: url(../img/bg-curve-desktop.svg) repeat-x center top;
}

.segunda-sessao__fundo {
    display: flex;
    background: var(--cinza);
    margin-top: 4em;
    padding-bottom: 3em;
}

.segunda-sessao__conteudo {
    margin: 5em 3em 4em 3em;
}

.segunda-sessao__textos {
    margin-bottom: 2.8em;
}

.segunda-sessao__titulo {
    font-family: var(--fonte-titulo);
    line-height: 1.5em;
    color: var(--azul-escuro);
    font-size: 2.1em;
}

.segunda-sessao__link {
    color: var(--verde-claro);
}

.segunda-sessao__link::after {
    content: url(../img/icon-arrow.svg);
    margin-left: .3em;
}

.card {
    background: var(--branco);
    border-radius: 5px;
    padding: 1.5em 2.2em;
    width: 60%;
    box-shadow: var(--sombra)
}

.card__texto::before {
    content: url(../img/icon-quotes.svg);
    display: block;
    margin-bottom: .8em;
}

.card__texto {
    color: var(--azul-escuro);
    line-height: 1.8em;
    font-size: .9em;
    margin-bottom: 2em;
}

.card__pessoa {
    display: flex;
    align-items: center;
}

.card__pessoa__imagem {
    border-radius: 100px;
    width: 80px;
}
.card__infos {
    margin-left: 1em;
}

.card__infos__nome {
    color: var(--azul-escuro);
    font-weight: 700;
    font-family: var(--fonte-titulo);
}

.card__infos__cargo {
    display: inline-block;
    color: var(--azul-escuro);
    font-size: 0.7em;
}

.segunda-sessao__imagem {
    height: 50vh;
    right: 0;
    margin: 6em 3em;
}

/* smartphone */

@media screen and (max-width: 640px) {
    .segunda-sessao {
        flex-direction: column;
        background: url(../img/bg-curve-mobile.svg) repeat-x center top;
        margin-top: 15em;
    }
    .segunda-sessao__fundo {
        flex-direction: column;
        margin-top: 2em;
        padding-bottom: 10em;
    }
    .segunda-sessao__textos p{
        text-align: justify;
    }
    .segunda-sessao__conteudo {
        position: relative;
        top: 160px;
        margin: 4em 1.8em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .segunda-sessao__titulo {
        font-size: 1em;
        text-align: center;
    }
    .segunda-sessao__link {
        font-size: .8em;
        text-align: center;
        display: block;
    }
    .segunda-sessao__imagem {
        position: absolute;
        height: 30vh;
        margin: 1em auto;
        right: 20%;
    }
    .card {
        width: 75%;
    }
}

/* tablet */

@media screen and (max-width: 1024px) {
    .segunda-sessao__imagem {
        height: 40vh;
        right: 0;
        margin: 6em 3em;
    }
    .segunda-sessao__fundo {
        width: 100%;
    }
    .segunda-sessao__textos {
        width: 80%;
    }
}